.Rproj.user
.Rhistory
.RData
.Ruserdata
rstudio.Rproj
*.nb.html
*_cache
*_files
gapFilling.Rmd
aggUncertainty.Rmd
plots/*
plotsHandsOn/*
useCase.Rmd
uStarCases.Rmd
*.html
StandardProcessing_*.RData
*_proc.txt
